h3 {
    text-align: center;

}
.form{
    font-family: 'Times New Roman', Times, serif;
    width: 500px;
    height: 800px;
    margin: 20px;
    padding: 20px;
    border-color: black;
    


}
#Fill{
    text-align: center;
}
.form1{
   
    padding: 10px 10px;
    margin: 20px;
    height: fit-content;
}
#firstname{
    background-color: rgb(216, 215, 215);
    padding: 10px;
    margin: 5px;
    border: none;
    

}
#lastname{
    background-color: rgb(216, 215, 215);
    padding: 10px;
    margin: 5px;
    border: none;
    

}
#username{
    background-color: rgb(216, 215, 215);
    padding: 10px;
    margin: 5px;
    border: none;
    width: 82%;
    

}
#email{
    background-color: rgb(216, 215, 215);
    padding: 10px;
    margin: 5px;
    border: none;
    width: 82%;
    

}
#password{
    background-color: rgb(216, 215, 215);
    padding: 10px;
    margin: 5px;
    border: none;
    width: 82%;
    

}
#create{
    background-color: rgb(162, 162, 242);
    text-align: center;
    padding: 10px;
    margin: 5px;
    border-color: azure;
    width: 400px;


}

